
<% @links.each_with_index do |link, index| %>
<% if index.even? %>
  <div class = "row col-md-12">
      <div class = "col-md-6">
        <div class="linke row clearfix">
          <h2>
            <%= link_to link.title, link %><br><br>
          </h2>
          </div>
      </div>
      <div class = "col-md-6">
      </div>
  </div>
<% elsif index.odd? %>
  <div class = "row col-md-12">
      <div class = "col-md-6">
      </div>
      <div class = "col-md-6">
        <div class="linko row clearfix">
          <h2>
            <%= link_to link.title, link %><br><br>
          </h2>
        </div>
      </div>
  </div>

<% end%>
<% end %>
